body{
    background-image: linear-gradient(to right, lightsalmon, lightgreen);
    font-family: 'Impact';
    font-size: 1.3rem;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100vh;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .nav-elem{
    color: black;
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .active{
    color: white;
    font-weight: bold;
  }

/* ---- HOME ---- */

  #home-container{
    text-align: center;
    padding-top: 1.5%;
}

img{
    width: 10%;
    margin-top: 3%;
}

/* ---- SIGNUP ---- */
#signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
}

form{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 20px 0 10px;
    border: 2px solid black;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
}

label{
    margin-right: 10px;
}

input[type="submit"]{
    width: 40%;
    height: 30px;
    margin: 10px auto;
}

input{
    width: 200px;
}

/* ---- LOGIN ---- */
#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
}

/* ---- LIST ---- */
#list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5%;
}

#list-sheet{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 40px;
    border: 3px solid black;
    border-radius: 15px;
}

#add-container{
    display: flex;
}

#add-container > input{
    width: 250px;
    height: 40px;
    font-size: 16px;
  }
  

ul{
    margin: 21px 0 0;
    padding: 0
}

#list-item{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}

list-item-btns{
    margin-left: 13px;
}

li{
    margin-right: 10px;
}


#add-btn{
    font-weight: bold;
}

#done-btn{
    font-weight: bold;
    color: limegreen
}

button{
    background-color: white;
    border-radius: 5px;
}